* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: black; */
}
.card {    
    /* background-color: rgb(219, 219, 219); */
    border: 1px solid rgb(133, 133, 133);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.185);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;

}
.card > .card-img {
    width: 250px;
    border-radius: 50%;

}
.card-title {
    margin: 0px;
    font-size: 2.3rem;
    margin: 0;
    color: rgb(0, 5, 80);
}
.card-text {
    color: rgb(0, 2, 31);
    padding: 5px;
    text-align: justify;
}